  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Deeper Christian Life Ministry
      </h1>
      <h2 class="subtitle">
        Zambia HQ
      </h2>

      <div class="columns">
        <div class="column circle-text">
          Our Weekly Services
        </div>
        <div class="column circle-text">
          Annual Events
        </div>
        <div class="column circle-text">
          Find a Location
        </div>
      </div>
    </div>
  </div>
