
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <img src="src/assets/images/menu-logo.png" alt="Logo" id="logo">
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">
            Home
          </a>
          <a class="navbar-item">
            Ministries
          </a>
          <a class="navbar-item">
            Events
          </a>
          <a class="navbar-item">
            Locations
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <a class="navbar-item">
            Blog
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
